.flowchart-step {
    width: 792px;
    margin: 13px 0;
    background: #FFFFFF;
}

.step-index {
    width: 40px;
    height: 40px;
    margin-right: 16px;
    line-height: 36px;
    border-radius: 2px;
    border: 1px solid var(--text-02, #2A2E2E);
    text-align: center;
    font-family: 'Comic Sans MS';
}

.flowchart-arrow {
    display: inline-block;
    margin-left: 16px;
}