.breadcrumb-wrapper {
  height: 90px;
  .home-btn {
    width: 16px;
    height: 16px;
  }
  .arrow-right-btn {
    width: 16px;
    height: 20px;
  }
  .parent-catg {
    font-size: 14px;
    font-family: 'Comic Sans MS Light';
  }
  .child-catg {
    font-size: 14px;
    font-family: 'Comic Sans MS';
  }
}