.code-block {
    position: relative;
    background: #F5F5F5;
    border: 2px solid #222222;
    /* shadow */

    box-shadow: 3px 3px 1px #B2B8BC;
    border-radius: 2px;
    padding:16px 0 16px 32px;

    .code-block-copy-btn {
        position: absolute;
        right: 16px;
        top: 50%;
        transform: translateY(-50%);
    }
}
