@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@font-face {
  font-family: 'Comic Sans MS';
  src: url("./assets/font/ComicSansMS3.woff") format('woff');
}

@font-face {
  font-family: 'Comic Sans Bold';
  src: url("./assets/font/ComicSansMSBold.woff") format('woff');
}

@font-face {
  font-family: 'Comic Sans MS Light';
  src: url("./assets/font/ComicSansLight.woff") format('woff');
}


@font-face {
  font-family: 'Roboto Mono';
  src: url("./assets/font/RobotoMono-Regular.woff") format('woff');
  font-weight: normal;
}

@font-face {
  font-family: 'Roboto Mono Bolder';
  src: url("./assets/font/RobotoMono-Bold.woff") format('woff');
}


@font-face {
  font-family: 'DM Mono';
  src: url("./assets/font/DMMono-Regular.woff") format('woff');
}
@font-face {
  font-family: 'DM Mono Bolder';
  src: url("./assets/font/DMMono-Medium.woff") format('woff');
}

@font-face {
  font-family: 'Montserrat';
  src: url("./assets/font/Montserrat-Medium.woff") format('woff');
}
@font-face {
  font-family: 'Montserrat Bolder';
  src: url("./assets/font/Montserrat-Bold.woff") format('woff');
}




#root {
  margin: 0 auto;
  color: #222;
}

a {
  font-weight: 500;
  color: #00CFC3;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-family: 'Comic Sans Bold', monospace;
  font-size: 32px;
  line-height: 45px;
  margin-bottom: 32px;
}

h2 {
  font-family: 'Comic Sans Bold', monospace;
  font-size: 24px;
  line-height: 34px;
}

h3 {
  font-size: 16px;
  font-family: 'Roboto Mono Bolder', monospace;
  font-weight: 700;
  margin-bottom: 32px;
}

p,
pre,
code {
  font-family: 'Montserrat', monospace !important;
}

strong {
  font-family: 'Montserrat Bolder', monospace;
}

p {
  max-width: 792px;
  font-size: 18px;
  line-height: 163%;
}

hr {
  margin: 97px auto;
  height: 1px;
  border-color: #222222;
}

a,
.tutorial-font-green {
  color: #18837D;
}


